/*
.nav {
    grid-area: n;

    background-color: blueviolet;
}

.item a {
    color: white;
    text-decoration: none;
}

.item.active {
    color: darkgoldenrod;
}
*/

.img {
    height: 80px;
    width: 100px;
}